body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #0a6db7;
    color: white;
}  

h1, h2 {
    text-align: center;
    margin-top: 40px;
}

h1 {
    border-bottom: 2px solid rgb(255, 255, 255)
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    background-color: #0f6283;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px;
}

